<h3>Add monsters</h3>

<%= form_with url: encounters_monster_path, remote: true, html: { class: 'inline' } do |form| %>
   <div class="field">
    <%= form.label 'Monsters' %>
    <%= form.select(:id, Monster.all.collect { |m| [m.name, m.id] }, prompt: true) %>
  </div>

  <div class="actions">
    <%= form.submit 'Add', class: 'btn trivial' %>
  </div>
<% end %>

<% @monsters = @monsters.map { |id| Monster.find(id) } %>

<% @monsters.each do |monster| %>
  <%= render 'encounters/monster/monster_card', monster: monster, deletable: true %>
<% end %>