<div class="card monster">
  <div class="emoji">&#128126;</div>
  <div class="description">
    <span class="name"><%= link_to monster.name, monster_url(monster) %></span>
    <span class="size-and-type"><%= "#{monster.size} #{monster.species}" %></span>
  </div>
  <div class="stats">
    <div>
      <label>CR: </label>
      <span><%= monster.challenge_rating %></span>
    </div>
    <div>
      <label>XP: </label>
      <span><%= monster.xp %></span>
    </div>
  </div>
  <% if deletable %>
    <%= link_to '&#10060;'.html_safe, "/monster/#{monster.id}", remote: true, method: :delete %>
  <% end %>
</div>