<h3>Add monsters</h3>

<%= form_with url: encounters_monster_path, remote: true, html: { class: 'inline' } do |form| %>
   <div class="field">
    <%= form.label 'Monsters' %>
    <%= form.select(:id, Monster.all.collect { |m| [m.name, m.id] }, prompt: true) %>
  </div>

  <div class="actions">
    <%= form.submit 'Add', class: 'btn trivial' %>
  </div>
<% end %>

<% @monsters = @monsters.map { |id| Monster.find(id) } %>

<% @monsters.each do |monster| %>
  <div class="card monster">
    <div class="emoji">&#128126;</div>
    <%# &#128128; %>
    <div class="description">
      <span class="name"><%= monster.name %></span>
      <span class="size-and-type"><%= "#{monster.size} #{monster.species}" %></span>
    </div>
    <div class="stats">
      <div>
        <label>CR: </label>
        <span><%= monster.challenge_rating %></span>
      </div>
      <div>
        <label>XP: </label>
        <span><%= monster.xp %></span>
      </div>
    </div>
    <%= link_to '&#10060;'.html_safe, "/monster/#{monster.id}", remote: true, method: :delete %>
  </div>
<% end %>