<p id="notice"><%= notice %></p>

<h1>Party Manager</h1>

<% @parties.each do |party| %>
  <% presenter = PartyPresenter.new(party) %>
  <div class="summary-row">
    <%= link_to party.name, party, class: 'name' %>
    <span class="summary"><%= presenter.summary %></span>
    <div class="actions">
      <%= link_to 'Edit', edit_party_path(party), class: 'btn medium-outline' %>
      <%= link_to 'Delete', party, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn hard-outline' %>
    </div>
  </div>
<% end %>

<br>

<%= link_to 'new', new_party_path, class: 'btn trivial-outline' %>
