<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @party.name %>
  <strong>Summary:</strong>
  # of characters: <%= @party.party_size %> | average player level <%= '%.2f' % @party.average_player_level %>
</p>

<%= @party.average_player_level %>

<ul>
<% @party.players.each do |player| %>
  <li>
    <%= player.name %>, <%= player.level %>
  </li>
<% end %>
</ul>

<%= link_to 'Edit', edit_party_path(@party) %>
<%= link_to 'Destroy', party_path(@party), method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Back to party central!', parties_path %>
