<p id="notice"><%= notice %></p>

<% presenter = PartyPresenter.new(@party) %>

<article class="rectangle mt-1">
  <header>
    <h1><%= @party.name %></h1>
    <span class="summary"><%= presenter.summary %></span>
  </header>
  <h3 class="mt-1">Party Members</h3>
  <div class="players flex-row">
    <% @party.players.each do |player| %>
      <div class="flex-row summary-row mr-1">
        <span class="name mr-1"><%= player.name %></span>
        (<label>LVL:</label><%= player.level %>)
      </div>
    <% end %>
  </div>

  <h3>Adventures</h3>
  <% if presenter.encounters? %>
    <div class="encounters">
      <% @party.encounters.each do |encounter| %>
        <% presenter = EncounterPresenter.new(encounter) %>
        <div class="summary-row">
          <%= link_to encounter.name, encounter %>
          <span class="pill <%= presenter.difficulty %>"><%= presenter.difficulty %></span>
        </div>
      <% end %>
    </div>
  <% else %>
    <div>Hmm, might get a bit boring without any encounters... Maybe add a <%= link_to 'new', new_encounter_path, class: 'underline' %> one?</span>
  <% end %>
</article>

<div class="controls mt-1">
  <%= link_to 'Edit', edit_party_path(@party), class: 'btn medium-outline' %>
  <%= link_to 'Delete', party_path(@party), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn hard-outline margin-inline' %>
  <%= link_to 'Back', parties_path, class: 'btn none-outline' %>
</div>
