<div class="flex-row combatant-row">

  <div class="initiative">
    <%= f.number_field :initiative, min: 0 %>
  </div>

  <div class="flex-row combatant">
    <%= render 'player', combatant: f.object unless f.object.monster? %>
    <%= render 'monster', combatant: f.object if f.object.monster? %>
  </div>

  <div class="hit-points">
    <%= f.number_field :current_hp, min: 0 %> / 
    <%= f.number_field :max_hp, min: 0 %>
  </div>
</div>