<% presenter = CombatTrackerPresenter.new(@combat_tracker) %>

<h1 class="pb-1">Combat Tracker - <%= presenter.name %></h1>

<div id="combat-tracker">
  <div class="column-left">
    <%= render 'layouts/flash' %>

    <%= render 'form' %>

    <%= button_to 'Next turn', { action: 'next_turn', id: @combat_tracker.id },
                               { form_class: 'padding-block' } %>
  </div>

  <div class="column-right">
    <% combatant = @combat_tracker.active_combatant %>
    <%= render('shared/stat_block', monster: combatant.combatable) if combatant.monster? %>

    <div class="encounter-description">
      <%= presenter.description %>
    </div>
  </div>
</div>