<section id="main">
  <h1>Monsters</h1>

  <p id="notice"><%= notice %></p>
  <% @monsters.each do |monster| %>
    <div class="encounter-row">
      <span class="encounter-name">
        <%= link_to monster.name, monster %>
      </span>
      <span><%= monster.species %></span>
      <span><%= monster.challenge_rating %></span>

      <div class="encounter-actions">
        <%= link_to 'Edit', edit_monster_path(monster), class: 'btn easy' %>
        <%= link_to 'Delete', monster, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn hard' %>
      </div>
    </div>
  <% end %>

  <%= link_to 'New Monster', new_monster_path, class: 'btn trivial' %>
</section>
