<h1>New Monster</h1>

<%= form_with url: '/search', method: :get do |form| %>
  <%= form.search_field :search %>
  <%= form.submit 'Search Monster' %>
<% end %>

<%= render 'form', monster: @monster %>

<%= link_to 'Back', monsters_path %>
