<%= form_with model: @player_character, url: encounters_player_path, remote: true, html: { class: 'inline' } do |form|  %>
  <div class="row">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="row">
    <%= form.label :level %>
    <%= form.select :level, 1..20 %>
  </div>

  <div class="row">
    <%= form.submit 'Add', class: 'btn trivial' %>
  </div>
<% end %>