<div class="monster-row flex-row">
  <div class="emoji">&#128126;</div>
  <div class="description flex-col">
    <%= link_to monster.name, monster_url(monster), target: '_blank', class: 'name' %>
    <span class="size-and-type"><%= monster.size %> <%= monster.species %></span>
  </div>
  <div class="monster-stats flex-col">
    <div class="flex-row">
      <label>CR:</label>
      <span><%= monster.challenge_rating %></span>
    </div>
    <div class="flex-row">
      <label>XP:</label>
      <span><%= monster.xp %></span>
    </div>
  </div>
  <div class='group-size-view flex-col'>
    <button class='btn plus'>+</button>
    <span class="group-size-value"><%= group_size %></span>
    <button class='btn minus'>-</button>
  </div>
</div>
