<% presenter = MonsterPresenter.new(@monster) %>
<article class="rectangle stat-block">
  <header>
    <h2><%= presenter.big_name %></h2>
    <span class="cursive"><%= presenter.size_type_and_alignment %></span>
  </header>

  <hr>

  <section>
    <div class="stat-group">
      <label>Armor Class</label>
      <span><%= @monster.armor_class %>
    </div>
    <div class="stat-group">
      <label>Hit Points</label>
      <span><%= presenter.hp %>
    </div>
    <div class="stat-group">
      <label>Speed</label>
      <span><%= presenter.speed %>
    </div>
  </section>

  <hr>

  <section class="ability-scores flex-row space-between">
    <% @monster.ability_scores.each do |ability, score| %>
      <div class="flex-col align-center">
        <strong><%= presenter.shorten(ability) %></strong>
        <span><%= presenter.score_and_modifier(score) %></span>
      </div>
    <% end %>
  </section>

  <hr>

  <section>
    <div class="stat-group">
      <label>Challenge</label>
      <span><%= presenter.challenge_and_xp %>
    </div>
    <div class="stat-group">
      <label>Proficiency bonus</label>
      <span><%= presenter.proficiency_bonus %>
    </div>
  </section>

</article>