<% unless @encounter.party.nil? %>
  <% stats = @encounter.calculate_statistics %>

  <div class="flex-col">
    <label>Difficulty</label>
    <span class='large-pill pill <%= stats[:difficulty] %>'><%= stats[:difficulty] %></span>
  </div>

  <div class='xp'>
    <div class='flex-col'>
      <label>Total XP</label>
      <span class='total-xp'><%= stats[:total_experience] %></span>
    </div>

    <div class='flex-col'>
      <label>Adjusted XP</label>
      <span>
        <span class='adjusted-xp'><%= stats[:adjusted_experience] %></span> (x<span class='multiplier'><%= stats[:multiplier] %></span>)
      </span>
    </div>
  </div>
<% end %>