<% form_for_search = nil; fates_for_search = nil; %>

<%= form_with model: @encounter, local: true, class: 'encounter-form' do |form| %>
  <% if @encounter.errors.any? %>
    <div id='error_explanation'>
      <h2><%= pluralize(@encounter.errors.count, 'error') %> prohibited this recipe from being saved:</h2>
      <ul>
      <% @encounter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- Encounter name & description -->
  <div class="rectangle encounter-general">
    <div class="form-group flex-col">
      <%= form.label :name %>
      <%= form.text_field :name, placeholder: 'Encounter name' %>
    </div>

    <div class="form-group flex-col">
      <%= form.label :description %>
      <%= form.text_area :description, placeholder: 'Short encounter description' %>
    </div>
  </div>

  <div class="encounter-stats">

    <!-- Party stats -->
    <div class="flex-col rectangle">
      <div class="flex-row form-row">
        <%= form.label :party_id %>
        <%= form.select(:party_id, Party.all.collect { |m| [m.name, m.id] }, { prompt: true }, { class: 'party-select' }) %>  
      </div>

      <div id="party-stats">
        <%= render 'party_stats' %>
      </div>
      
    </div>

    <!-- Encounter stats -->
    <div class="flex-col rectangle">
      <div id="encounter-stats"></div>
    </div>

  </div>

  <div class="encounter-monsters rectangle">
    <h3 class="mb-1">Monsters</h3>

    <div class="monsters">
      <%= form.fields_for :fates do |fate_form| %>
        <%= render 'shared/fate_fields', f: fate_form %>
      <% end %>
    </div>

  </div>

  <%= form.submit class: 'easy mb-1' %>
<% end %>

<div data-controller='live-search' id='search-monsters'>
  <%= render 'shared/search_form' %>
  <div data-live-search-target='results' class='search-monsters-results'></div>
</div>