<% form_for_search = nil; fates_for_search = nil; %>

<%= form_with model: @encounter, local: true, class: 'encounter-form' do |form| %>
  <% if @encounter.errors.any? %>
    <div id='error_explanation' class='rectangle'>
      <h2><%= pluralize(@encounter.errors.count, 'error') %> prohibited this encounter from being saved:</h2>
      <ul>
      <% @encounter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- Encounter name & description -->
  <div class="rectangle encounter-general">
    <div class="form-group flex-col">
      <%= form.label :name %>
      <%= form.text_field :name, placeholder: 'Encounter name' %>
    </div>

    <div class="form-group flex-col">
      <%= form.label :description %>
      <p class="info">Give a short description of the encounter. Markdown can be used to add basic styling.</p>
      <%= form.text_area :description, placeholder: 'Short encounter description' %>
    </div>
  </div>

  <div class="encounter-stats">

    <!-- Party stats -->
    <div class="flex-col rectangle">
      <h3>Party Select</h3>
      <div class="flex-row form-row">
        <p class="info">Select the party to which this encounter belongs</p>
        <%= form.select(:party_id, Party.all.collect { |m| [m.name, m.id] }, 
                                   { prompt: true }, 
                                   { class: 'party-select' }) %>  
      </div>

      <div id="party-stats">
        <%= render 'party_stats' %>
      </div>
      
    </div>

    <!-- Encounter stats -->
    <div class="flex-col rectangle">
      <h3>Encounter Summary</h3>
      <div id="encounter-stats">
        <%= render 'encounter_stats' %>
      </div>
    </div>

  </div>

  <div class="encounter-monsters hidden">
    <h3 class="">Monsters</h3>
    <p class="info">Add at least <strong>one</strong> monster.</p>

    <div class="monsters">
      <%= form.fields_for :fates do |fate_form| %>
        <%= render 'fate_fields', f: fate_form %>
      <% end %>
      
    </div>
  </div>

  <%= form.submit class: 'easy mb-1 hidden' %>
<% end %>

<div class="monsters-and-search mt-1">
  <div class="monsters-copy rectangle"></div>

  <div data-controller='live-search' id='search-monsters' class='rectangle'>
    <%= render 'monsters_search/form' %>
    <div data-live-search-target='results' class='search-monsters-results'></div>
  </div>

  <button class="alternative-submit btn easy" name="commit">Button</button>
</div>