<div class="encounter-show mb-1">
  <h1><%= @encounter.name.titleize %></h1>

  <p id="notice"><%= notice %></p>

  <div class="">
    <div class="">
      <% stats = @encounter.stats %>
      <span>Encounter for <%= link_to @encounter.party.name, @encounter.party %></span>

      <div class="flex-row stats">
        <div class="flex-col">
          <label>Difficulty</label>
          <span class="pill <%= stats['difficulty'] %>"><%= stats["difficulty"] %></span>
        </div>

        <div class="flex-col">
          <label>Total Experience</label>
          <span><%= stats['total_experience'] %></span>
        </div>
      </div>

      <span class="summary">Difficulty calcutated for <%= @encounter.party.party_size %> players of level <%= '%.2f' % @encounter.party.average_player_level %> (avg)</span>
    </div>
    <p><%= markdown(@encounter.description).html_safe %></p>
  </div>

  <div class="rectangle">
    <h2>Monsters</h2>
    <% group_size = @encounter.fates.map { |f| [f.monster_id, f.group_size] }.to_h %>
    <% @encounter.monsters.each do |monster| %>
      <%= render 'shared/monster', monster: monster, group_size: group_size[monster.id] %>
    <% end %>
  </div>

</div>

<div>
  <% if @encounter.combat_tracker.nil? %>
    <!-- start encounter -->
    <%= form_with(model: @encounter.build_combat_tracker, local: true) do |f| %>
      <%= hidden_field_tag :encounter_id, @encounter.id %>
      <%= f.submit "Start Encounter" %>
    <% end %>
  <% else %>
    <!-- resume encounter -->
    <%= link_to "Resume Encounter", @encounter.combat_tracker %>
  <% end %>
</div>

<%= link_to 'Edit', edit_encounter_path(@encounter), class: 'btn medium-outline' %>
<%= link_to 'Destroy', encounter_path(@encounter), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn hard-outline' %>
<%= link_to "Back to all encounters", encounters_path, class: 'btn none-outline' %>