<div id="app">
  <h1>D&D 5e Encounter Builder</h1>
  <div id="party-builder">
    
    <h2>Manage Characters</h2>

    <strong>Add Player</strong>
    <%= render 'encounter_builder/player/form' %>

    <h3>Party</h3>
    <div id="party">
      <%= render partial: 'encounter_builder/player/player' %>
    </div>
  </div>

  <div id="encounter-builder">

    <div id="encounter-stats">
      <%= render partial: 'encounter_builder/encounter/encounter' %>
    </div>

    <%# <h2>Manage Encounter</h2> %>
    <div>
      <h3>Encounter details: </h3>
      <%= render partial: 'encounter_builder/encounter/form' %>
    </div>
    <div id="monsters">
      <%= render partial: 'encounter_builder/monster/monster' %>
    </div>

  </div>
</div>