<%= form_with model: @player_character, url: encounter_builder_player_path, remote: true, html: { class: 'inline' } do |form|  %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :level %>
    <%= form.select :level, 1..20 %>
  </div>

  <div class="actions">
    <%= form.submit '&#10133;'.html_safe, class: 'btn' %>
  </div>
<% end %>