<!DOCTYPE html>
<html>
  <head>
    <title>Encounter Builder</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'general.css' %>
    <%= stylesheet_link_tag 'encounters.css' %>
    <%= stylesheet_link_tag 'build.css' %>
    <%= stylesheet_link_tag 'forms.css' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="app">
      <%= render 'layouts/header' %>
      <%= yield %>
    </div>
  </body>
</html>
