<!DOCTYPE html>
<html>
  <head>
    <title>Encounter Builder</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'general.css' %>
    <%= stylesheet_link_tag 'encounters.css' %>
    <%= stylesheet_link_tag 'monsters.css' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="app">
      <%= render 'shared/header' %>
      <main><%= yield %></main>
    </div>
  </body>
</html>
